@import "../cutegarden-variables";

html {
  overscroll-behavior: none;
}

#cutegarden-canvas-container {
  height: 100vh;
}

#cutegarden-canvas {
  position: absolute;
  background-color: $cutegarden-dark;
}

// Controls are hidden by default and fixed position to not interfere with the full-screen canvas.
.app-control {
  display: none;
  position: fixed;
  z-index: 1;
}

.tile-control {
  left: 5rem;
  right: 5rem;
  bottom: 5rem;
  height: 30vh;

  animation: tile-control-open;
  animation-duration: 0.1s;
  animation-timing-function: ease-in-out;
}

@keyframes tile-control-open {
  from {
    transform: scaleY(0.0);
  }

  to {
    transform: scaleY(1.0);
  }
}