@import "../cutegarden-variables";

html {
  overscroll-behavior: none;
}

#cutegarden-canvas-container {
  height: 100vh;
}

#cutegarden-canvas {
  position: absolute;
  background-color: $cutegarden-dark;
}
