/* *********************************************************************************************************************
 * Pulls in the main Bulma framework styles from the dependencies folder, after applying any of our overrides. Any
 * additional framework fixes are then applied.
 * ********************************************************************************************************************/

@import "cutegarden-variables";

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// region Map framework variables to cutegarden variables
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

$family-sans-serif: $cutegarden-sans-serif-font;

$primary: $cutegarden-primary;
$info: $cutegarden-secondary;

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// endregion
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// region Bulma variable overrides.
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

$footer-background-color: $cutegarden-black;
$card-background-color: $cutegarden-white;

$navbar-background-color: $cutegarden-black;
$navbar-item-hover-background-color: $cutegarden-dark;

$black: $cutegarden-black;

$link: $cutegarden-primary-accent;

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// endregion
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

@import "../../dep/bulma/bulma";

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// region Framework fixes
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

/* There should be some space between icons used in card headers. */

.card-header-title > i {
  margin-right: 0.75rem;
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// endregion
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
